body {
  margin: 0px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-container {
  background-color: #6e716e;
}

.container {
  width: auto;
  display: flex;
  background-color: #6e716e;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
}

.header-ul {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-li {
  list-style-type: none;
  padding: inherit;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}

.starLogo {
  padding: 0 20px 0;
  max-width: 180px;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
}

.logo {
  position: relative;
}

.header-textbox {
  border: 1px solid black;
  height: 2rem;
  box-sizing: border-box;
  padding: 2px 10px;
  font-size: 15px;
  border-radius: 2px;
}

.header-search {
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}

.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header-search {
    max-width: 500px;
    margin: 0;
    padding: 20px;
  }

  .cart-icon {
    padding-right: 60px;
  }
}
