body {
  margin: 0px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: auto;
  display: flex;
  background-color: #6e716e;
  color: #ffffff;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}

.starLogo {
  padding: 30px 20px 0;
  padding-left: 160px;
  max-width: 180px;
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  position: relative;
}
.header-textbox {
  border: 1px solid black;
  height: 2rem;
  box-sizing: border-box;
  padding: 2px 10px;
  font-size: 15px;
  border-radius: 2px;
}
.header-search {
  padding-right: 10px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
}
.cart-icon {
  padding-right: 160px;
  padding-left: 20px;
  padding-top: 5px;
}

@media screen and (min-width: 768px) {
  .container {
    width: auto;
  }

  li {
    padding: 0 20px;
  }

  .logo {
    width: auto;
    margin: 0;
  }

  .header-search {
    max-width: 500px;
    margin: 0;
    padding: 20px;
  }

  .textbox {
    margin: 0 10px;
  }
}
