@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.product-container-content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
}

.product-display {
  display: flex;
  justify-content: space-evenly;
}

.display-title {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 10px;
}
.product-image {
  /* max-width: 100%;
  display: block;
  height: auto; */
}
.bag-Img {
  width: 100%;
  max-width: 700px;
  height: auto;
}
.review {
  color: #006bb4;
}
.product-info-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c1c1c1;
}
.price-tag {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.price {
  color: #575757;
  font-size: 36px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 3px;
}
.instock {
  font-weight: 600;
  float: right;
  margin-bottom: 0px;
}
.SKU {
  float: right;
}

.quanity {
  font-weight: 600;
  margin-top: 20px;
}
.quantitynumber {
  height: 25px;
  width: 46px;
  padding: 4px;
  text-align: center;
}
.quanity-number {
  padding-bottom: 20px;
}
.quantity-parent {
  padding-top: 20px;
  margin-bottom: 8px;
}
.addtocart {
  background-color: #1979c3;
  border: 1px solid #1979c3;
  padding: 14px 17px;
  height: 51.6px;
  width: 227.04px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  margin: 0px 4.6px 15px 0px;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
}
.wishlist {
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  justify-content: flex-start;
}
.icon-class {
  display: flex;
  align-items: center;
}
i {
  content: "\f004";
  color: #666;
  padding-right: 10px;
}

.button-parent {
  padding-bottom: 20px;
}
.wishlist-text {
  padding-right: 23px;
  font-weight: bolder;
  color: #666;
}

@media only screen and (max-width: 768px) {
  .product-display {
    display: flex;
    flex-direction: column;
  }
  .product-image {
    padding-right: 0px;
    padding-left: 0px;
  }
  .parent-price {
    width: 100%;
  }

  .product-container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .display-title {
    font-size: 40px;
  }
  .addtocart {
    height: 51.6px;
    width: 100%;
  }
  .wishlist {
    width: 80%;
    margin: 0 auto;
  }

  .wishlist-text {
    padding-right: 0px;
  }
}
