.page-footer {
  background: #f4f4f4;
  margin-top: auto;
  padding-bottom: 25px;
}
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
}

.footer-links {
  display: inline-block;
  vertical-align: top;
  padding-left: 0px;
  padding-right: 0px;
}

.nav-item {
  color: #575757;
  padding-top: 10px;
  font-size: 14px;
  list-style-type: none;
}
.footer-linkss {
  display: inline-block;
  vertical-align: top;
  padding-left: 0px;
  padding-right: 0px;
}

.footer-content .widget-block .footer-links .nav-item li {
  background: transparent;
  border: none;
  font-size: 14px;
  margin: 0 0 8px;
  padding-top: 5px;
  display: inline;
}
.footer-content .widget-block .footer-links .nav-item a {
  color: #575757;
  text-decoration: none;
  display: inline;
}

.widget-block-container {
  display: flex;
}
.newsletter-container {
  display: flex;
  flex-direction: row-reverse;
}
.newsletter {
  display: inline-block;
  /* padding-right: 50px; */
  padding-top: 20px;
  vertical-align: top;
}

.footer-textbox {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 7px 15px;
  font-size: 15px;
  border-radius: 2px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.newsletter-button {
  background: #1979c3;
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid #1979c3;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  padding: 7px 15px;
  box-sizing: border-box;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 450px) {
  .newsletter {
    display: none;
  }
}
